@import "../../main";

div {
	width: 400px;
	height: 200px;
	padding: 50px;
	text-align: center;
	background: #ffbbbb;
}
#{$o-hoverable-if-hover-enabled} div.hover-on {
	background: #bbffbb;
}
#{$o-hoverable-if-hover-enabled} div.hover-on:hover {
	background: #77ff77;
}

div .hover-off {
	background: #ef2849;
}
div .hover-off:hover {
	background: #d64f67;
}
